<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change password</title>
  <script src="../script/password.js"></script>
  <link rel="stylesheet" href="../style/login.css">
</head>

<body>
  <header>
  </header>
  <main>
    <div class="login-box">
      <h2>Digite sua nova senha</h2>
      <div class="background">
        <img src="../images/logo.png" alt="" class="logo">
      </div>
      <form id="password-form">

        <div class="user-box">
          <input type="password" name="" id="password" required="" name="password" class="form-control" onkeyup="">
          <small class="help-block" id="password-text"></small>
          <label>Repita sua senha</label>
        </div>

        <div class="user-box">
          <input type="password" name="repeat_password" id="repeat_password" required="">
          <small class="help-block" id="match-text"></small>
          <label>Senha</label>
        </div>

        <div class="bottom-bar">
          <button type="submit" id="change-button">Alterar</button>
          <span class="bg-danger" id="error-message"></span>
        </div>
      </form>
    </div>
  </main>
</body>

</html>