.centered-panel {
    height: 475px;
}

.input > input[type="text"] {
    color: #9c95a7;
}

.progress {
    background-color: #fff;

    border: solid 1px #505a5b;
}

#password-warning {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;
    color: #c93d50;

    width: 90%;
}