.close-edit-service{
    border: none;
    background-color: transparent;
}


.modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
}
.title-edit{
    padding-left: 30%;
}

@media screen and (max-width: 425px) {
    .title-edit{
        padding-left: 0%;
    }
    .modal-header{
        padding: 0px;
    }
}