.card-deck {    
    display: flex;
    flex-direction: row;
    justify-content: start;

    flex-wrap: wrap;

    width: 70%;
    height: 100%;
}

.card {
    background-color: transparent;
    margin: 1.5% 1.65%;
    min-height: 270px;
    width: 30%;
    min-width: 250px;

    border-radius: 10px;
    border: none;
}
.card-body{
    background-color: #ffff;
}

.card-header , .card-footer {
    width: 100%;
    height: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #e8d7f1;
    color: #e8d7f1;
}

.card-footer {
    display: flex;
    justify-content: end;
    gap: 15px;
}

a.btn {
    border-radius: 20px;
}

.btn-primary {
    background-color: #68a6ee;
}

.btn-danger {
    background-color: #d35761;
}

.card-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



@media screen and (max-width: 1024px) {
    .card {    
        width: 46%;
        margin: 1.6% 1.65%;
    }
}

@media screen and (max-width: 768px) {
    .card {    
        width: 80%;
    }
    .card-deck {    
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .card-deck {    
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .card {    
        width: 100%;
        margin: 7% 1.65%;
    }
}