main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.search-wrapper{
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 50px;
}

.centered-panel-delete {
    height: 200px;
    width: 700px;

    background-color: #e8d7f1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    border: dashed 2px #505a5b;
}

.delete-form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .search-wrapper{
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width: 425px) {
    .search-wrapper{
        justify-content: center;
    }
    .search-bar{
        display: flex;
        flex-direction: column;
    }

    .centered-panel-delete {
        height: 250px;
        width: 310px;
        text-align: center;
    }

}